{{ define "main" }}

<main class="home">
<div class="images">
  {{ range $i, $sons := .Params.images }}
    <img class="lazy item__image image image--crash"
         alt="Crash Memory {{ $i }}"
         src="/img/{{ $i }}.jpg"
         sizes="(min-width: 50em) 62vw, 62vw"
         srcset="/img/{{ $i }}-small.jpg 400w,
                 /img/{{ $i }}-medium.jpg 800w,
                 /img/{{ $i }}-large.jpg 1200w,
                 /img/{{ $i }}.jpg 2400w">
  {{ end }}
    <img class="lazy item__image image image--glitch" alt="Crash Memory Glitch Image" src="">
</div>
<div class="textes">
{{ partial "typography.html" . }}
</div>
</main>

{{ end }}
