<div class="loading">
<p>U</p>
<p>Ü</p>
</div>

<button class="btn btn--header btn--shuffle"><span class="info">Crash</span></button>
<button class="btn btn--header btn--menu"><span class="info">Memory</span></button>

<button class="btn btn--header btn--glitch"><span class="info">Crash</span></button>
<button class="btn btn--header btn--mask"><span class="info">Memory</span></button>

<header class="menu">
  <a href="https://abrupt.cc/giraudon-laloux-vermeulin/crash-memory/" target="_blank" rel="noopener" class="title__link">{{ .Site.Params.Titre }}</a>
  <div class="credits">
    {{ .Site.Params.credits | safeHTML }}
  </div>
</header>
