{{ $content := .Content }}
{{ $content = replace $content " ;" "&nbsp;;" }}
{{ $content = replace $content " !" "&nbsp;!" }}
{{ $content = replace $content " ?" "&nbsp;?" }}
{{ $content = replace $content " :" "&nbsp;:" }}
{{ $content = replace $content " %" "&nbsp;%" }}
{{ $content = replace $content "&ldquo;" "«&nbsp;" }}
{{ $content = replace $content "&rdquo;" "&nbsp;»" }}
{{ $content = replaceRE `(<a (?:.*) class=\"footnote-backref\" (?:.*)>)(?:.*)(</a>)` `${1}↑${2}` $content }}
{{ $content = replaceRE `\^(.+?)\^` `<sup>$1</sup>` $content }}

{{ $content | safeHTML }}
