{{ define "main" }}

<section class="list list--articles">

  {{ range where .Site.RegularPages "Section" "articles" }}
  <article class="article">
    <h1 class="article__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <section class="article__info">
      <time class="article__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>

      {{ if .Params.tags }}
      <span class="article__tags">
       &mdash; tags:
      {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>&nbsp;
      {{ end }}
      </span>
      {{ end }}

      {{ if .Params.categories }}
       &mdash; categories:
      <span class="article__categories">
      {{ range .Params.categories }}
        <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
      </span>
      {{ end }}
    </section>

    <section class="article__summary">
      {{ .Summary }}
      <a class="read-more" href="{{.RelPermalink}}">&hellip;</a>
    </section>
  </article>

  {{ end }}
</section>

{{ end }}

